@import "../../shared/variables/colors";

div.details-container {
    border: 1px solid;
    border-color: $gainsboro;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    margin: 25% 0 5% 0;

    div.top-block {
        span {
            color: $gray-53;
            display: flex;
        }

        h2 {
            display: contents;
        }
    }

    div.middle-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 30px 0 30px 0;

        div.temp-info {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;

            img {
                width: 60px;
                height: 60px;
            }
        }

        div.extra-infos {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    @media (max-width:700px) {
        div.middle-block {
            flex-direction: column;
            align-items: left;
        }
    }

    div.bottom-block {
        display: flex;
        align-items: center;
        font-size: 20px;

        .down-arrow-icon {
            color: $blue;
        }
        
        .up-arrow-icon {
            color: $red;
        }

        span {
            margin-right: 25px;
        }
    }
}