@import "../../shared/variables/colors";

div.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.buttons-group {
        display: flex;
        flex-direction: row;
    }

    @media (max-width:700px) {
        div.buttons-group {
            flex-direction: column;
        }
    }

    button {
        color: $white;
        background: $light-blue;
        border: 0;
        border-radius: 2px;
        cursor: pointer;
        transition: background 0.5s;
        height: 50px;
        width: 200px;
        font-weight: bold;
        font-size: 16px;
        margin: 15px;

        &:hover {
            background: $purple;
        }
    }
}