@import "../../shared/variables/colors";

div.card-container {
    width: 80%;

    div.card {
        border: 1px solid;
        border-radius: 10px;
        width: 100%;
        border-color: $black;
        padding: 10px;
        background: $light-blue-2;
        margin-bottom: 5px;

        &:hover {
            background: $light-blue;
        }

        div.card-infos {
            display: flex;
            align-items: center;
        }
        
        div.card-temps {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        h3 {
            margin-block-end: 0;
        }
    }
}
