@import "../../shared/variables/colors";

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: $gray-53;
    color: $white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;

    .close-icon {
        margin-left: auto;
        cursor: pointer;
    }

  }
  
  .show {
    visibility: visible; /* Show the snackbar */
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
